include ./header.jade

h1 Anmelden
include ./errors.jade

form(method="post" action="/UserLogin")
	div.field
		label Benutzername
		input(type="text" name="username" required="required")
	div.field
		label Passwort
		input(type="password" name="password" required="required")
	input(type="submit" value="Anmelden")