html(ng-app="shelter")
	head
		script(src="js/jquery.js")
		script(src="js/bootstrap.js")
		script(src="js/angular.js")
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/stylesheet.css" rel="stylesheet")
		script(src="controller/index.js")
	body
		ng-include(src="'Menu-Unauthorized.html'")
		div(ng-controller="TestCtrl")
			div(ng-view)
		